<div class="flex flex-col gap-y-1">
    <ng-container *ngIf="row; else columnLayout">
        <div class="flex flex-row gap-3 items-center">
            <ng-container *ngTemplateOutlet="template; context: context" ></ng-container>
            <div class="text-sm text-gray-900 font-medium">{{ label || generateLabel(name) }}</div>
        </div>
    </ng-container>

    <ng-template #columnLayout>
        <div class="text-sm text-gray-900 font-medium leading-none">{{ label || generateLabel(name) }}</div>
        <ng-container *ngTemplateOutlet="template; context: context" ></ng-container>
    </ng-template>

    <div *ngIf="errors?.length" class="flex flex-col gap-0.5">
        <div *ngFor="let message of errors" class="text-xs text-red-700">
            {{ message }}
        </div>
    </div>

    <div *ngIf="helperTexts?.length" class="flex flex-col gap-0.5">
        <div *ngFor="let helperText of helperTexts" class="text-xs text-gray-700">
            &bull; {{ helperText }}
        </div>
    </div>
</div>
