<div class="flex flex-col gap-y-1">
    <ul class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-8 gap-4">
        <li
            class="flex flex-row items-center justify-center aspect-square relative border token-default-border-color rounded-lg overflow-hidden"
        >
            <div class="pointer-events-none text-4xl font-bold">+</div>
            <input
                type="file"
                multiple
                class="opacity-0 absolute inset-0 cursor-pointer file:cursor-pointer h-full w-full"
                (change)="upload($event)"
            />
        </li>
        <ng-container *ngFor="let image of value">
            <li
                class="flex flex-row items-center justify-center aspect-square relative border token-default-border-color rounded-lg overflow-hidden"
            >
                <div
                    [style]="{ right: '4px', top: '4px' }"
                    class="flex flex-row items-center justify-center h-[20%] aspect-square bg-white hover:bg-zinc-200 rounded-lg shadow absolute z-10 mix-blend-luminosity opacity-70 font-bold text-black mixin-Sbutton-like border token-default-border-color "
                    (click)="removeImage(image)"
                >
                    ✖
                </div>
                <app-cover-image [src]="image" />
            </li>
        </ng-container>
    </ul>
    <ul *ngIf="errors?.length" class="flex flex-col gap-0.5">
        <li *ngFor="let message of errors" class="text-xs text-red-700">
            {{ message }}
        </li>
    </ul>
</div>
