<!-- Update Client Page -->
<form
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
>
    <section class="token-default-flex-col grow" appPageSectionDirective>
        <div class="text-lg font-bold">Delete Clients</div>
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <div>
            You are deleting the following Clients:
        </div>
        <app-form-field [name]="'force'" [errors]="errors.force">
            <ng-template let-name="name">
                <app-checkbox />
            </ng-template>
        </app-form-field>
    </section>
    <section class="token-default-flex-row justify-end" appPageSectionDirective>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-red',
                hasShadow: true
            }"
        >
            Confirm & Delete
        </button>
    </section>
</form>
