<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-body-section"
    >
        <ul class="overflow-hidden">
            <li class="token-base-text font-bold">Membership History Data</li>
            <li class="token-default-list">
                <div class="token-default-list__label">Id</div>
                <div class="token-default-list__value truncate">
                    {{ teamMembershipHistory.id }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label shrink-0">Date Effective From</div>
                <div class="token-default-list__value truncate">
                    {{ teamMembershipHistory.dateEffectiveFrom | date:"yyyy-MM-dd HH:mm:ss" }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Number</div>
                <div class="token-default-list__value">
                    {{ teamMembershipHistory.number }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Position</div>
                <div class="token-default-list__value">
                    {{ teamMembershipHistory.position.label }}
                </div>
            </li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-body-section grow"
    ></section>
</main>
