<div class="flex flex-col overflow-hidden rounded-lg border token-default-border-color token-default-shadow">
    <section class="h-36">
        <app-cover-image src="https://www.ikea.com/images/helles-zimmer-in-dem-wohnen-schlafen-und-arbeiten-praktisch--466beb0c1c037433e9404d9f6afb9667.jpg?f=s" />
    </section>
    <section class="p-4">
        <ul class="flex flex-col gap-2">
            <li class="text-lg font-bold">
                $10.000.000
            </li>
            <li>
                <div class="text-base font-bold">
                    Sunshine Square
                </div>
                <div class="text-sm text-gray-600">
                    123 Shaolin, Brooklyn, NY
                </div>
            </li>
            <li class="flex flex-row gap-2 space-between text-sm text-gray-600 text-center">
                <div>
                    2 bd.
                </div>
                <div>
                    1 ba.
                </div>
                <div>
                    8000 sqft.
                </div>
            </li>
        </ul>
    </section>
</div>
