<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset($event)"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
    appContentGrid
>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-default-flex-row flex-wrap token-body-section"
    >
        <header>
            <div class="token-default-title">Update Team Membership History</div>
        </header>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-col token-body-section grow"
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <app-form-field [name]="'dateEffectiveFrom'" [errors]="errors.dateEffectiveFrom">
            <ng-template let-name="name">
                <app-char-field
                    type="datetime-local"
                    step="1"
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'number'" [errors]="errors.number">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'position'" [errors]="errors.position">
            <ng-template let-name="name">
                <app-select [formControlName]="name" [options]="playerPositionSingleton.options"></app-select>
            </ng-template>
        </app-form-field>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-row justify-end token-body-section"
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Update
        </button>
    </section>
</form>
