<ul class="flex flex-row gap-4 py-2 px-4 border token-default-border-color rounded-lg items-center token-default-shadow ">
    <li>
        <app-checkbox (checkChange)="select.emit(client)" [value]="selected" />
    </li>
    <li class="font-semibold text-sm grow overflow-hidden shrink-0 basis-1">
        <div class="truncate">{{ client.name }}</div>
    </li>
    <li class="font-semibold text-sm grow overflow-hidden shrink-0 basis-1 max-[375px]:hidden">
        <div class="truncate">{{ client.id }}</div>
    </li>
    <li class="font-semibold text-sm grow overflow-hidden shrink-0 basis-1 max-[430px]:hidden">
        <div class="truncate">{{ clientTypeOptions[client.type] }}</div>
    </li>
    <li class="font-semibold text-sm grow overflow-hidden shrink-0 basis-1 max-[485px]:hidden">
        <div class="truncate">John Doe Street, John Doeville, John Doe Country</div>
    </li>
    <li
        class="font-semibold shrink-0"
        primeNgPopoverDirective
        [popover]="op"
        [positioning]="{ top: '100%', right: '0px' }"
        [appMixinStyledButton]="{
            theme: 'theme-Sbutton-generic-white',
            size: 'mixin-Sbutton-sm'
        }"
    >
        ☰
    </li>
</ul>
<p-popover #op class="fixed">
    <div
        [appPanelDirective]="{
            panelSize: 'mixin-panel-base',
            panelTheme: 'theme-panel-generic-white',
            panelHasBorder: true,
            panelHasShadow: true
        }"
    >
        <section class="flex flex-row gap-8 items-center w-64" appPanelSectionDirective>
            <div class="text-sm">Actions</div>
        </section>
        <app-divider />
        <section class="flex flex-col gap-1" appPanelSectionDirective>
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-red',
                    size: 'mixin-Sbutton-base'
                }"
                class="justify-center grow"
                [routerLink]="'/admin/clients/delete/'"
                [queryParams]="{ ids: [this.client.id] }"
            >
                Delete
            </button>
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-black',
                    size: 'mixin-Sbutton-base'
                }"
                class="justify-center grow"
                [routerLink]="'/admin/clients/' + client.id + '/update'"
            >
                Update
            </button>
        </section>
    </div>
</p-popover>
