<div class="flex flex-row gap-4 p-4 border token-default-border-color ">
    <section class="shrink-0 max-w-48 w-full basis-2/6">
        <div class="font-bold text-gray-500 text-sm">
            Client Name
        </div>
        <div class="font-bold text-sm">
            John Doe
        </div>
    </section>
    <section class="grow">
        <ul class="grid grid-cols-1 min-[450px]:grid-cols-2 min-[550px]:grid-cols-3 gap-4 justify-items-end">
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
            <li class="overflow-hidden">
                <div class="font-bold text-gray-500 text-sm truncate">
                    Name
                </div>
                <div class="font-bold text-sm truncate">
                    John Doe
                </div>
            </li>
        </ul>
    </section>
</div>