<!-- Update Team Membership Page -->
<form
    [appMixinStyledCard]="{
        size: 'mixin-Scard-base',
        theme: 'theme-Scard-generic-white'
    }"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset($event)"
    appContentGrid
    [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }"
>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="token-default-flex-col token-body-section"
    >
        <header>
            <div class="token-default-title">Update Team Membership</div>
        </header>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
    >
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <app-form-field [name]="'activeFrom'" [errors]="errors.activeFrom" [helperTexts]="activeDatesHelperTexts">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                    type="datetime-local"
                    step="1"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'activeTo'" [errors]="errors.activeTo" [helperTexts]="activeDatesHelperTexts">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                    type="datetime-local"
                    step="1"
                ></app-char-field>
            </ng-template>
        </app-form-field>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        class="token-default-flex-row justify-end token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        appPageSectionDirective
    >
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Update
        </button>
    </section>
</form>
