<!-- App -->
<header class="flex flex-row relative shrink-0 p-4 gap-4 bg-white items-center">
    <div class="w-28">
        <app-char-field></app-char-field>
    </div>
    <button
        [appMixinStyledButton]="{
            size: 'mixin-Sbutton-base',
            theme: 'theme-Sbutton-generic-white'
        }"
        type="button"
        class="ml-auto"
    >
        H
    </button>
    <app-divider class="h-full" [isVertical]="true" />
    <button
        [appMixinStyledButton]="{
            size: 'mixin-Sbutton-base',
            theme: 'theme-Sbutton-generic-yellow'
        }"
        type="button"
    >
        A
    </button>
    <!--    
    <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-red'
            }"
            type="button"
            (mouseup)="authService.logout()"
        >
            Logout
        </button>
        <a
            routerLink="/users/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-yellow'
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Login
        </a>

        <div
            *ngIf="false"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white'
            }"
            modalTrigger
            [modalPanel]="exampleModal"
            [modalData]="{ title: otherTitle }"
            class="truncate shrink-0"
        >
            Modal Sample
        </div>-->
</header>
<app-divider />
<main class="flex flex-col grow bg-white">
    <router-outlet></router-outlet>
</main>
<footer class="relative shrink-0 token-header-section"></footer>
<ng-content *ngIf="error != null">
    <app-exception-notice-popover
        [error]="error"
        (dismiss)="exceptionNoticeService.clearError()"
    ></app-exception-notice-popover>
</ng-content>
