<!-- App -->
<header
    class="flex flex-row relative shrink-0 p-4 gap-4 bg-white items-center token-default-shadow border-b token-default-border-color"
>
    <a class="border token-default-border-color aspect-square h-full shrink-0 rounded overflow-hidden" routerLink="/">
        <app-cover-image
            src="https://img.freepik.com/premium-vector/abstract-house-construction-architecture-logos-with-typography_835895-5894.jpg?semt=ais_hybrid"
        />
    </a>
    <div class="max-w-prose w-full">
        <app-char-field
            [options]="{ size: 'mixin-char-input-base', theme: 'theme-input-generic-gray' }"
        ></app-char-field>
    </div>
    <button type="button" class="ml-auto mixin-Sbutton-like text-sm font-semibold">Home</button>
    <app-divider class="h-full" [isVertical]="true" />
    <a
        class="mixin-Sbutton-like text-sm text-emerald-600 font-semibold"
        routerLink="/admin/real-estate-listings"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: true }"
    >
        Admin
    </a>
    <!--    
    <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-red'
            }"
            type="button"
            (mouseup)="authService.logout()"
        >
            Logout
        </button>
        <a
            routerLink="/users/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-yellow'
            }"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            Login
        </a>

        <div
            *ngIf="false"
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white'
            }"
            modalTrigger
            [modalPanel]="exampleModal"
            [modalData]="{ title: otherTitle }"
            class="truncate shrink-0"
        >
            Modal Sample
        </div>-->
</header>
<main class="flex flex-col grow bg-white">
    <router-outlet></router-outlet>
</main>
<footer class="relative shrink-0 token-header-section"></footer>
<ng-content *ngIf="error != null">
    <app-exception-notice-popover
        [error]="error"
        (dismiss)="exceptionNoticeService.clearError()"
    ></app-exception-notice-popover>
</ng-content>
