<!-- Login User Page -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onReset()">
    <section appPageSectionDirective class="token-default-flex-col token-body-section">
        <header>
            <div class="token-default-title">Login User</div>
        </header>
    </section>
    <app-divider />
    <section class="token-default-flex-col token-body-section grow" appPageSectionDirective>
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <app-form-field [name]="'email'" [errors]="errors.email">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'password'" [errors]="errors.password">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                    type="password"
                ></app-char-field>
            </ng-template>
        </app-form-field>
    </section>
    <app-divider />
    <section class="token-default-flex-row justify-end token-body-section" appPageSectionDirective>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white'
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green'
            }"
        >
            Login User
        </button>
    </section>
</form>
