<!-- Frontpage Page -->
<div class="flex flex-row">
    <div class="flex flex-col gap-4 p-4 grow">
        <section class="flex flex-row gap-4">
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white'
                }"
            >   
                Filters
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white'
                }"
                class="ml-auto"
            >   
                ▦
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white'
                }"
            >   
                ☰
            </button>
        </section>
        <section class="flex flex-col gap-2">
            <div class="text-xl">
                Properties Listed in <span class="font-bold">New York City</span>
            </div>
        </section>
    </div>
</div>
