<!-- List Team Memberships Page -->
<div [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Active Team Memberships</div>
        <div class="token-default-flex-row flex-wrap">
            <app-team-player-element
                *ngFor="let teamPlayer of activeTeamPlayers"
                class="basis-1/2 min-[450px]:basis-1/3"
                [teamPlayer]="teamPlayer"
            />
            <div *ngIf="activeTeamPlayers.length === 0" class="token-base-text">Nothing to see here yet.</div>
        </div>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Former Team Membership</div>
        <div class="token-default-flex-row flex-wrap">
            <app-team-player-element
                *ngFor="let teamPlayer of inactiveTeamPlayers"
                class="basis-1/2 min-[450px]:basis-1/3"
                [teamPlayer]="teamPlayer"
            />
            <div *ngIf="inactiveTeamPlayers.length === 0" class="token-base-text">Nothing to see here yet.</div>
        </div>
    </section>
</div>
