<!-- Delete Real Estate Listings Page -->
<form
    (submit)="onSubmit()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
>
    <section class="token-default-flex-col grow" appPageSectionDirective>
        <div class="text-lg font-bold">Delete Real Estate Listings</div>
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <div>
            You are deleting the following Real Estate Listings:
        </div>
        <ul>
            <ng-container *ngFor="let listing of listings">
                <li class="text-sm text-blue-600 mixin-Sbutton-like" [routerLink]="'/admin/real-estate-listings/' + listing.id">
                    &bull; ({{ listing.id }}) {{ listing.title }}
                </li>
            </ng-container>
        </ul>
    </section>
    <section class="token-default-flex-row justify-end" appPageSectionDirective>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-red',
                hasShadow: true
            }"
        >
            Confirm & Delete
        </button>
    </section>
</form>
