<!-- List Clients Page -->
<div class="flex flex-row">
    <div class="flex flex-col gap-4 p-4 grow overflow-hidden">
        <app-list-clients-controls />
        <ul class="flex flex-row gap-4 items-center px-4">
            <li>
                <app-checkbox (checkChange)="selectAllClients($event)" />
            </li>
            <li class="font-bold text-sm grow overflow-hidden shrink-0 basis-1">
                <div class="truncate">Name</div>
            </li>
            <li class="font-bold text-sm grow overflow-hidden shrink-0 basis-1 max-[375px]:hidden">
                <div class="truncate">Id</div>
            </li>
            <li class="font-bold text-sm grow overflow-hidden shrink-0 basis-1 max-[430px]:hidden">
                <div class="truncate">Type</div>
            </li>
            <li class="font-bold text-sm grow overflow-hidden shrink-0 basis-1 max-[485px]:hidden">
                <div class="truncate">Address</div>
            </li>
            <li
                class="font-semibold shrink-0"
                primeNgPopoverDirective
                [popover]="op"
                [positioning]="{ top: '100%', right: '0px' }"
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-white',
                    size: 'mixin-Sbutton-sm'
                }"
            >
                ☰
            </li>
        </ul>
        <app-list-clients [clients]="clients" [selectedClients]="selectedClients" />
    </div>
</div>
<p-popover #op class="fixed">
    <div
        [appPanelDirective]="{
            panelSize: 'mixin-panel-base',
            panelTheme: 'theme-panel-generic-white',
            panelHasBorder: true,
            panelHasShadow: true
        }"
    >
        <section class="flex flex-row gap-8 items-center" appPanelSectionDirective>
            <div class="text-sm font-semibold">Selection (8) Actions</div>
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-white',
                    size: 'mixin-Sbutton-sm'
                }"
            >
                Close
            </button>
        </section>
        <app-divider />
        <section class="flex flex-col gap-4" appPanelSectionDirective>
            <button
                [appMixinStyledButton]="{
                    theme: 'theme-Sbutton-generic-red',
                    size: 'mixin-Sbutton-sm'
                }"
                class="justify-center grow"
            >
                Delete
            </button>
        </section>
    </div>
</p-popover>
