<div
    class="flex flex-col overflow-hidden rounded-lg border token-default-border-color token-default-shadow hover:cursor-pointer hover:scale-[1.01] transition-all"
    [routerLink]="'/real-estate-listings/' + listing.id"
>
    <section class="h-36">
        <app-cover-image src="{{ listing.images[0] }}" />
    </section>
    <section class="p-4">
        <ul class="flex flex-col gap-2">
            <li class="text-lg font-bold">${{ listing.price }}</li>
            <li>
                <div class="text-base font-bold line-clamp-2 h-[2lh]">
                    {{ listing.title }}
                </div>
                <div class="text-sm text-gray-600 line-clamp-2 h-[2lh]">{{ listing.street }}, {{ listing.city }}, {{ listing.state }}</div>
            </li>
            <li class="flex flex-row gap-2 space-between text-sm text-gray-600 text-center">
                <div>{{ listing.bedroomNumber }} bd.</div>
                <div>{{ listing.bathroomNumber }} ba.</div>
                <div>{{ listing.squareMeters }} sqft.</div>
            </li>
        </ul>
    </section>
</div>
