<!-- Create Client Page -->
<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (reset)="onReset()"
    [appPageDirective]="{ pageSize: 'mixin-page-base' }"
>
    <section class="token-default-flex-col grow" appPageSectionDirective>
        <div class="text-lg font-bold">Create Client</div>
        <section *ngIf="errors['_'] != null">
            <app-form-errors [errors]="errors['_']"></app-form-errors>
        </section>
        <app-form-field [name]="'name'" [errors]="errors.name">
            <ng-template let-name="name">
                <app-char-field
                    [formControlName]="name"
                    [options]="{
                        size: 'mixin-char-input-base',
                        theme: 'theme-input-generic-white'
                    }"
                ></app-char-field>
            </ng-template>
        </app-form-field>
        <app-form-field [name]="'type'" [errors]="errors.type">
            <ng-template let-name="name">
                <app-select [formControlName]="name" [options]="clientTypeOptions"></app-select>
            </ng-template>
        </app-form-field>
    </section>
    <section class="token-default-flex-row justify-end" appPageSectionDirective>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
            type="reset"
        >
            Reset
        </button>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-green',
                hasShadow: true
            }"
        >
            Create
        </button>
    </section>
</form>
