<div class="flex flex-col gap-4">

    <section class="flex flex-row flex-wrap gap-2 items-center justify-between ">
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-base',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
        >
            Filters
        </button>
        <menu class="flex flex-row gap-[inherit]">
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white',
                    hasShadow: true
                }"
            >
                ◫
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-white',
                    hasShadow: true
                }"
            >
                ▤
            </button>
            <button
                [appMixinStyledButton]="{
                    size: 'mixin-Sbutton-base',
                    theme: 'theme-Sbutton-generic-yellow',
                    hasShadow: true
                }"
            >
                +
            </button>
        </menu>
    </section>
    <section class="flex flex-col gap-2">
        <div class="text-xl">Properties Listed in <span class="font-bold">New York City</span></div>
    </section>
    <section class="flex flex-row items-center justify-between gap-4">
        <div class="text-sm">2089 Listings</div>
        <button
            [appMixinStyledButton]="{
                size: 'mixin-Sbutton-sm',
                theme: 'theme-Sbutton-generic-white',
                hasShadow: true
            }"
        >
            Sort By
        </button>
    </section>
</div>
