<!-- Team Player Details Page -->
<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class=" token-body-section"
    >
        <ul class="overflow-hidden">
            <li class="token-base-text font-bold">Membership Data</li>
            <li  class="token-default-list">
                <div class="token-default-list__label shirnk-0">Date Active From</div>
                <div class="token-default-list__value truncate">
                    {{ teamPlayer.membership.activeFrom | date: "yyyy-MM-dd HH:mm:ss" }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Date Active To</div>
                <div class="token-default-list__value truncate">
                    {{ teamPlayer.membership.activeTo == null ? "N/A" : (teamPlayer.membership.activeTo | date) }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Id</div>
                <div class="token-default-list__value truncate">
                    {{ teamPlayer.membership.id }}
                </div>
            </li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-body-section token-default-flex-col grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Effective History</div>
        <div *ngIf="teamPlayer.membership.effectiveHistory == null" class="token-base-text">
            There's Nothing Here Yet. Create a history if you want to see something here.
        </div>
        <ng-container *ngIf="teamPlayer.membership.effectiveHistory != null">
            <app-team-membership-history-element
                [teamMembershipHistory]="teamPlayer.membership.effectiveHistory"
                [teamMembership]="teamPlayer.membership"
            />
        </ng-container>
    </section>
</main>
