<!-- Team Details Page -->
<main [appPageDirective]="{ pageSize: 'mixin-page-base', isSubpage: true }" appContentGrid>
    <section
        appPageSectionDirective
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
        class="grid gap-3 token-body-section"
        style="grid-template-columns: auto 1fr"
    >
        <div class="aspect-square h-full max-w-[80px] max-h-[80px]">
            <app-cover-image className="token-default-avatar " />
        </div>
        <ul class="overflow-hidden">
            <li class="token-base-text font-bold">
                Team Data
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Name</div>
                <div class="token-default-list__value truncate">
                    {{ team.name }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Id</div>
                <div class="token-default-list__value truncate">
                    {{ team.id }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Date Founded</div>
                <div class="token-default-list__value truncate">
                    {{ team.dateFounded | date }}
                </div>
            </li>
            <li class="token-default-list">
                <div class="token-default-list__label">Active Members Count</div>
                <div class="token-default-list__value truncate">
                    {{ activePlayers.length }}
                </div>
            </li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">In Progress Matches</div>
        <ul class="token-default-flex-row flex-wrap">
            <li *ngFor="let match of inProgressMatches">
                <app-match-element [match]="match" />
            </li>
            <li *ngIf="inProgressMatches.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Recent Matches</div>
        <ul class="token-default-flex-row flex-wrap">
            <li *ngFor="let match of recentMatches">
                <app-match-element [match]="match" />
            </li>
            <li *ngIf="recentMatches.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
    <app-divider [appContentGridTrack]="{ contentGridTrack: 'base' }" />
    <section
        appPageSectionDirective
        class="token-default-flex-col token-body-section grow"
        [appContentGridTrack]="{ contentGridTrack: 'base' }"
    >
        <div class="token-default-title">Active Members</div>
        <ul class="token-default-flex-row flex-wrap">
            <ng-container *ngIf="activePlayers.length">
                <app-team-player-element
                    *ngFor="let activePlayer of activePlayers"
                    [teamPlayer]="activePlayer"
                />
            </ng-container>
            <li *ngIf="activePlayers.length === 0" class="token-base-text">Nothing To See Here Yet</li>
        </ul>
    </section>
</main>
